* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --input-height: 150px;
    --container-radius: 20px;
}

/* styling calculator */
.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    background-color: rgb(40, 40, 40);
    border-radius: var(--container-radius);
    height: 500px;
    width: 400px;
    display: grid;
    grid-template-rows: var(--input-height) auto;
}

.buttons-container {
    display: grid;
    /* rows - 5 */
    grid-template-rows: repeat(5, 1fr);
    /* columns - 4 */
    grid-template-columns: repeat(4, 1fr);
}

.input-space {
    height: var(--input-height);
}

.input-value {
    height: 100%;
    width: 100%;
    background: none;
    color: white;
    font-size: 4rem;
    text-align: right;
    border-radius: var(--container-radius);
    border: none;
}

.input-value:focus {
    outline: none;
}

.btn {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(10, 10, 10);
    color: white;
    padding: 1px;
    border-radius: 10px;
    margin: 1px 1px;
    font-weight: 700;
    /* pressed effect */
    /* box-shadow: 5px 5px red; */
}

.btn:hover {
    background-color: rgb(85, 85, 85);
}

.clear {
    color: aqua;
}

.operators {
    background-color: blue;
}

.operators:hover {
    background-color: rgb(0, 0, 125);
}

.result {
    background-color: black;
    grid-column-start: 3;
    grid-column-end: 5;
}

.result:hover {
    background-color: rgb(10, 10, 10);
}